RewriteEngine on
php_value allow_url_fopen On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^login$ login.php [L]
RewriteRule ^logout$ logout.php [L]
RewriteRule ^index.php$ includes/pages/home.php [L]
RewriteRule ^product/(.*).html$ includes/pages/product.php?url=$1 [L]